* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    color: white;
    background-color: #060607c9;
}

/* Navigation bar */

#nav-bar-marathon {
    background-color: rgb(240, 180, 67);
    
    width: 100%;

    font-size: 1.5rem;
}

nav .navbar-brand img {
    height: 4em;
    width: auto;

    margin-left: 1em;
    margin-right: 4em;
    margin-top: .1em;
}

/* Main Page */

#main-page {
    width: 100%;

    margin: 2rem .25rem;
}

#main-page #marathon-logo {
    width: 100%;
}

#main-page #front-page {
    width: 100%;
}

/* Aside Section */

#main-page #marathon-logo img {    
    margin-top: 4rem;
    margin-bottom: 2rem;
}

/* Front Page */

#front-page h1 {
    font-size: 2.15rem;

    margin-bottom: 1.25rem;
}

#front-page .marathon-text {
    font-size: 1.5rem;
 
    width: 100%;
    line-height: 1.5em;
    margin-bottom: 1em;
}

#front-page #buttons-front button a {
    color: white;

    text-decoration: none;
}

#front-page #buttons-front button {
    font-size: 1.15rem;

    cursor: pointer;
    
    margin: 0.5em 0.2em;
    width: 40%;
    padding: 1em 1em;

    outline: none;
    border-radius: 20px;
    border-width: 2px;
}

#front-page #buttons-front button:hover {
    background-color: rgb(240, 180, 67);
    transition: 0.4s ease-in;
}
