* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    color: black;
    background-color: #fafafa;
}

h1,h2,h3,h4,h5,p,a {
    font-weight: 600;
}

/* Navigation bar */

#nav-bar-marathon {
    background-color: rgb(240, 180, 67);
    
    width: 100%;

    font-weight: 600;
    font-size: 1.5rem;
}

nav .navbar-brand img {
    height: 4em;
    width: auto;

    margin-left: 1em;
    margin-right: 4em;
    margin-top: .1em;
}

/* Front/Main Page */

main {
    font-size: 1.25rem;
    padding-top: 3.5rem;

    background: url("/img/auxiliary/front.jpg") no-repeat;
    background-size: 120%;
    background-position-x: -14rem;
    height: 33rem;
    transform: scaleX(-1);    
    border-bottom: 3px solid rgb(240, 180, 67);
}

#front-page {
    transform: scaleX(-1);
    padding-left: 3rem;
    padding-right: 10rem;
}

#front-page .written {
    width: 60%;
    text-align: justify;
}

#front-page .written h1 {
    text-align: start;
}

#front-page .written h1,p {
    margin-bottom: 1.75rem;
}


#front-page #buttons-front button a {
    color: black;
    text-decoration: none;
}

#front-page #buttons-front button {
    font-size: 1.3rem;
    
    margin: 1em 0;
    height: 4rem;
    width: 30%;

    cursor: pointer;
    outline: none;
    border-radius: 20px;
}

#front-page #buttons-front button:hover {
    background-color: rgb(240, 180, 67);
    border: 2px solid black;
    transition: 0.2s ease-in;
}

/* Section - Donate */

#donate {
    color: black;   
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 1.75rem;

    padding: 1rem 0;
}

#donate .donate-text {
    padding: 0 3.25rem;
}

#donate h2 {
    font-size: 1.5em;
}

#donate p {
    text-align: justify;
}

#donate img {
    height: 400px;
    border: 2px solid black;

    margin: 6rem 2rem;
}

#donate .donate-button a {
    color: black;

    text-decoration: none;
}

#donate .donate-button {
    font-size: 1.15rem;

    height: 4rem;
    width: 100%;
    margin: 2rem 0;

    cursor: pointer;
    outline: none;
    border-radius: 20px;
}

#donate .donate-button:hover {
    background-color: rgb(240, 180, 67);
    border: 2px solid black;
    transition: 0.2s ease-in;
}

/* 2nd Section - Contact */

#contact-sheet .container {
    border: 2px solid black;
    color: black;
    
    font-size: 1.5rem;
}

#contact-sheet h2 {
    font-size: 1.25em;
}

#contact-sheet .info {
    background-color: darkgray;
    display: inline-flex;
}

#contact-sheet .info .c-email .span {
    width: 2rem;
}

#contact-sheet .info .email {
    font-size: .9rem;
}

/* Contact - Icons */

#contact-sheet nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#contact-sheet .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    padding: .5rem 0;
}

#contact-sheet .icons img {
    height: 50px;

    margin: 0rem 3rem;
}

/* Footer */

footer {
    margin-top: 4rem;
}

footer .logo {
    background-color: rgb(240, 180, 67);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

footer .f-logo img {
    height: 4rem;

    margin: 1rem;
}

footer .rights h5 {
    margin: 1rem;

    font-size: 1.5em;
    color: black;
}