* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    background-color: #060607c9;
}

/* Navigation bar */

#nav-bar-marathon {
    background-color: rgb(240, 180, 67);
    
    font-size: 1.5rem;

}

.navbar-nav li a {
    color: white;
}

nav .navbar-brand img {
    height: 4em;
    width: auto;

    margin-left: 1em;
    margin-right: 4em;
    margin-top: .1em;
}

/* Main Page - Sign-in */

#welcome h1 {
    color: white;
    font-size: 28px;
    font-weight: 500;
    
    text-align: center;

    padding: 2rem;
}

.member {
    width: 100%;
}

.member .sign-in {
    margin-left: 30%;
    margin-right: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;


    font-size: 18px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #d3d7de;

    padding: 2rem;
    height: 25rem;
    width: 40%;
}

.member .sign-in label {
    margin-top: 1em;
}

.member .sign-in h2 {
    font-size: 2em;

    border-bottom: 1px solid black;    

    margin-bottom: 1rem;
}

.member .sign-in .input-sign {
    padding: .4em;
    margin: 0.1em 2rem;

    font-size: 0.75em;
}

.member .sign-in h3 {
margin-top: 1em;
}

.member .sign-in h3 a {
    text-decoration: none;
}

.member .sign-in h3 a:active {
    color: rgb(39, 107, 129);
}

.member .sign-in button {
    padding: 0.4em;
    width: 10em;
    height: 2.25em;

    font-size: 1em;
    font-weight: 700;
    outline: none;

    border-width: 2px;
    border-radius: 10px;
    margin-top: 0.75rem;
}

.member .sign-in button:active {
    background-color: rgb(32, 73, 111);
}

/* Section - Sign-Up */

.non-member {
    width: 80%;
    height: 38em;
    margin: 5em auto;   

    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: #d3d7de;
}

.non-member .container img {
    height: 5rem;
    margin: 2em;

    position: absolute;
}

.non-member .container .register-form {
    justify-content: space-evenly;

    margin-left: 12em; 
    width: 80%;  
}

.non-member .container .register-form h2 {
    padding: 3em;

    text-align: center;
}

.non-member .container .register-form .info {
    margin-bottom: 3em;
}

.non-member .container .register-form label {
    visibility: hidden;
}

.non-member .register-form .name input {
    padding: 10px 15px;
}

.non-member .register-form .name .input-register {
    margin: 30px;
}
