* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    color: black;
    background-color: #fafafa;
}

h1,h2,h3,h4,h5,p,a,label {
    font-weight: 600;
}


/* Navigation bar */

#nav-bar-marathon {
    background-color: rgb(240, 180, 67);
    
    font-size: 1.5rem;
}

nav .navbar-brand img {
    height: 4em;
    width: auto;

    margin-left: 1em;
    margin-right: 4em;
    margin-top: .1em;
}

/* End of Navigation bar */
/* Main Page - Sign-in */

#welcome h1 {
    font-size: 28px;
    font-weight: 500;
    
    text-align: center;

    padding: 2rem;
}

#member {
    width: 100%;
}

#member .sign-in {
    margin: 1em auto 2em;
    width: 50%;
    padding: 2rem;
    height: auto;

    font-size: 18px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: rgb(240, 180, 67);
}

#member .sign-in label {
    margin-top: 1em;
}

#member .sign-in h2 {
    font-size: 2em;
    text-align: center;
}

#member .sign-in input {
    height: 2rem;
    margin: 0.5em 2rem;

    border: 1px solid black;
    
    font-size: 0.75em;
}

#member .sign-in h3 {
    margin: 0.85em;
}

#member .sign-in h3 a {
    text-decoration: none;
}

#member .sign-in h3 a:active {
    color: rgb(39, 107, 129);
}

#member .sign-in button {
    font-size: 1.3rem;

    color: black;
    margin: 1em 0;
    height: 3rem;
    width: 50%;

    cursor: pointer;
    outline: none;
    border-radius: 20px;
}

#member .sign-in button:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.563);
    transition: 0.2s ease-in;
}

/* End of Main Page - Sign in */

/* Article - Sign-Up */
    /* Top bar */

#sign-up {
    margin: 2em auto 2em;
    width: 70%;

    background-color: rgb(240, 180, 67);
    border: 2px solid black;
    border-radius: 20px;
}

#sign-up #top-register {
    width: 100%;
    height: 7rem;

    padding: 1rem 1rem;
    margin-bottom: 3rem;
}

#sign-up #top-register img {
    height: 4.5rem;

    z-index: 1;
}

#sign-up #top-register h2 {
    font-size: 2.25rem;

    margin: 1rem 0 1rem 0;
    padding: 0 1em;
}

    /* End of Top bar */
    /* Sign-up form */

#sign-up #detail-inputs input, select, #name-inputs input {
    width: 80%;
    height: 2rem;

    border: 1px solid black;
    margin-bottom: 3rem;

    text-align: center;
}

#sign-up #password-input input {
    width: 34%;
    height: 2rem;

    border: 1px solid black;
    margin-bottom: 1rem;

    text-align: center;
}

#sign-up #password-input p {
    text-align: center;
}

#sign-up #password-input button {
    font-size: 1.3rem;
    color: black;
    
    margin-top: 2rem;
    margin-bottom: 3rem;
    height: 3rem;
    width: 50%;

    cursor: pointer;
    outline: none;
    border-radius: 20px;
}    

#sign-up #password-input button:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.563);
    transition: 0.2s ease-in;
}

    /* End of Sign-up form */

/* End of Article - Sign-up */

/* Footer */

footer {
    margin-top: 4rem;
}

footer .logo {
    background-color: rgb(240, 180, 67);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

footer .f-logo img {
    height: 4rem;

    margin: 1rem;
}

footer .rights h5 {
    margin: 1rem;

    font-size: 1.5em;
    color: black;
}