* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    background-color: #060607c9;
}

/* Navigation bar */

#nav-bar-marathon {
    background-color: rgb(240, 180, 67);
    
    font-size: 1.5rem;
}

nav .navbar-brand img {
    height: 4em;
    width: auto;

    margin-left: 1em;
    margin-right: 4em;
    margin-top: .1em;
}

/* End of Navigation bar */
/* Main Page - Sign-in */

#welcome h1 {
    color: white;
    font-size: 28px;
    font-weight: 500;
    
    text-align: center;

    padding: 2rem;
}

#member {
    width: 100%;
}

#member .sign-in {
    margin: 1em auto 2em;
    width: 50%;

    font-size: 18px;
    border-radius: 20px;
    background-color: #f0f1f4;

    padding: 2rem;
    height: 27rem;
}

#member .sign-in label {
    margin-top: 1em;
}

#member .sign-in h2 {
    font-size: 2em;
    text-align: center;
}

#member .sign-in input {
    padding: 0.4em;
    margin: 0.5em 2rem;

    border: 1px solid black;
    
    font-size: 0.75em;
}

#member .sign-in h3 {
    margin: 0.85em;
}

#member .sign-in h3 a {
    text-decoration: none;
}

#member .sign-in h3 a:active {
    color: rgb(39, 107, 129);
}

#member .sign-in button {
    font-size: .9em;
    color: black;

    cursor: pointer;
    
    margin-top: 0.5em;
    padding: 0.35em 3.5rem;

    outline: none;
    border-radius: 20px;
    border-width: 2px;
}

#member .sign-in button:active {
    background-color: rgb(223, 167, 64);
}

/* End of Main Page - Sign in */

/* Article - Sign-Up */

    /* Top bar */

#sign-up {
    margin: 2em auto 2em;
    width: 70%;

    background-color: #f0f1f4;
}

#sign-up #top-register {
    width: 100%;
    height: 7rem;

    padding: 1rem 1rem;
    margin-bottom: 3rem;
}

#sign-up #top-register img {
    height: 5rem;

    z-index: 1;
}

#sign-up #top-register h2 {
    font-size: 2.25rem;

    margin: 1rem 0 1rem 0;
    padding: 0 1em;
}


    /* End of Top bar */
    /* Sign-up form */


#sign-up #detail-inputs input, select, #name-inputs input {
    width: 80%;

    border: 1px solid black;
    margin-bottom: 3rem;

    text-align: center;
}

#sign-up #password-input input {
    width: 34%;

    border: 1px solid black;
    margin-bottom: 1rem;

    text-align: center;
}

#sign-up #password-input p {
    text-align: center;
}

#sign-up #password-input button {
    width: 20em;
    margin: 1em auto 2em;

    font-weight: 700;
    color: black;

    border-radius: 10px;
    border-width: 2px;
    transition: background-color .3s ease-in;
}    

#sign-up #password-input button:active {
    background-color: rgba(237, 190, 60, 0.393);
   
    transition: .5s ease;
}

    /* End of Sign-up form */

/* End of Article - Sign-up */
