/* Main Page */

@media (min-width: 992px) {
    #index-sheet #main-page .col-lg-6:nth-child(1) {
        order: 1;
    }
}

@media (max-width: 992px) {
    #index-sheet #main-page .col-lg-6:nth-child(2) {
        order: 1;
    }
}

@media (max-width: 500px) {
    #index-sheet nav .navbar-brand img {
        height: 3rem;

        margin-left: 0;
        margin-right: 0;
    }
}

/* Registration Page */

@media (max-width: 500px) {
    #registration-sheet nav .navbar-brand img {
        height: 3rem;

        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    
    #registration-sheet #member .sign-in {
        width: 90%;
    }
    
    #registration-sheet #sign-up {
        width: auto;
    }

    #registration-sheet #sign-up #top-register {
        margin-bottom: 5rem;
    }

    #registration-sheet #sign-up #top-register img {
        margin-top: 2rem;
        margin-left: 1.5rem;
    }

    #registration-sheet #sign-up #top-register img, h2 {
        width: auto;
    }

}
