/* Main Page */

@media (min-width: 992px) {

    #index-sheet #main-page .col-lg-6:nth-child(1) {
        order: 1;
    }
}

@media (max-width: 992px) {

    #index-sheet #main-page .col-lg-6:nth-child(2) {
        order: 1;
    }
}

@media (max-width: 500px) {

    #front-page #buttons-front button {
        font-size: 1.15rem;

        display: inline-flex;
        text-align: center;
        align-items: center;

        width: 40%;

        height: 3rem;
        padding: 3rem 1rem;

        cursor: pointer;
        outline: none;
        
        border-radius: 20px;
        border-width: 2px;
    }

    #index-sheet nav .navbar-brand img {
        height: 3rem;

        margin-left: 0;
        margin-right: 0;
    }
}

/* Donate to Us */

@media (max-width: 992px) {
    #donate {
        color: white;   
        font-weight: 100;
        font-size: 1.5rem;
        line-height: 2rem;

        text-align: center;
        padding: 0;
        margin: 0 1rem;
    }
}

@media (max-width: 420px) {
    #donate p {
        text-align: center;
    }    
}

/* Registration Page */

@media (max-width: 500px) {
    #registration-sheet nav .navbar-brand img {
        height: 3rem;

        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 768px) {

    #registration-sheet #member .sign-in {
        width: 90%;
    }
    
    #registration-sheet #sign-up {
        width: auto;
    }

    #registration-sheet #sign-up #top-register {
        margin-bottom: 5rem;
    }

    #registration-sheet #sign-up #top-register img {
        margin-top: 2rem;
        margin-left: 1.5rem;
    }

    #registration-sheet #sign-up #top-register img, h2 {
        width: auto;
    }

}

/* Results Page */

@media (max-width: 992px) {

    #results-sheet nav .navbar-brand img {
        height: 3rem;
    
        margin-left: 0;
        margin-right: 0;
}

    #results-sheet #success img {
        border: 2px solid white;
        margin: 0 0;
}     

    #results-sheet #thanks .blurb {
        font-size: 1.25rem;
        text-align: justify;

        width: 100%;
        margin-top: 5rem;
}

}