
@media (max-width: 500px) {
    nav .navbar-brand img {
        height: 3rem;

        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    
    #member .sign-in {
        width: 90%;
    }
    
    #sign-up {
        width: auto;
    }

    #sign-up #top-register {
        margin-bottom: 5rem;
    }

    #sign-up #top-register img {
        margin-top: 2rem;
        margin-left: 1.5rem;
    }

    #sign-up #top-register img, h2 {
        width: auto;
    }

}
