* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    color: white;
    background-color: #060607c9;
}

/* Navigation bar */

#nav-bar-marathon {
    background-color: rgb(240, 180, 67);
    
    width: 100%;

    font-size: 1.5rem;
}

nav .navbar-brand img {
    height: 4em;
    width: auto;

    margin-left: 1em;
    margin-right: 4em;
    margin-top: .1em;
}

/* Main - Thanks */

#thanks {
    margin: 4.75rem 0;
}

#thanks .block {
    padding: 0 3rem;
}

#thanks img {
    border: 2px solid white;
}

#thanks .blurb {
    font-size: 1.25rem;

    width: 40%;
    text-align: justify;
}

/* Section - Results */

#results {
    padding: 2rem;
}

#results h2 {
    color: black;

    padding: 2.5rem;
    text-align: center;
}

/* Footer */

footer {
    margin-top: 3rem;

    border-top: 1px solid black;
}

footer .logo {
    background-color: rgb(240, 180, 67);
}

footer .f-logo img {
    height: 4rem;

    margin: 1rem;
}

footer .rights h5 {
    margin: 1rem;

    font-size: 16px;
    color: white;
}